
.head{
  margin:50px;
  background-color: #313943;
  height: 100px;



}


.it{
  color: #18913F;
  font-size: 40px;
  text-align: center;
  margin-top: -50px;
  padding-top: 19px;

}

.item1{
  margin-left: 370px;
  color: black;
  font-size: 30px;
  
}